.App {
  display: grid;
  grid-template-columns: 10px 200px 1fr 10px;
  grid-template-areas:
    'header header header header'
    '. aside main .';
  gap: 30px;
}

main {
  grid-area: main;
  display: grid;
  align-items: start;
  grid-template-columns: 10fr 9fr;
  grid-template-areas:
    'welcome welcome'
    'running running'
    'activity suggested';
  gap: 30px;
}
